<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{data.name}}</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="flex justify-center items-center w-screen h-screen">
      <div
        class="flex items-center flex-col w-2/4 h-fit bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        {% load static %}
        <img
          class="rounded w-36 h-36"
          src="{% static data.img|add:'.png' %}"
          alt="Extra large avatar"
        />
        <h2 class="text-4xl font-bold dark:text-white">{{data.name}}</h2>
        <h4 class="text-2xl font-bold dark:text-white">Age: {{data.age}}</h4>
        <h4 class="text-xl font-bold dark:text-white">Email: {{data.email}}</h4>
        <div class="p-5">
          <h4 class="text-xl font-bold dark:text-white">Hobbies:</h4>
          {% for x in data.hobbies %}
          <h6 class="text-lg font-bold dark:text-white">{{x}}</h6>
          {% endfor %}
        </div>
        <a href="/">
          <button
            type="button"
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
          >
            Back
          </button>
        </a>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
